In [1]:
# We use double or single quotation marks to indicate strings 
"Michael Jackson"
'Michael Jackson'

'Michael Jackson'

In [2]:
# Digitals and spaces in strings
'1 2 3 4 5 6 7 8 9 10'

'1 2 3 4 5 6 7 8 9 10'

In [3]:
# Strings can also be special characters
'@ # $ % ^ & *'

'@ # $ % ^ & *'

In [4]:
#Printing a string
print('Hello Michael')

Hello Michael

In [8]:
# We can bind or assign a string to a variable
name = 'Michael Jackson'
name

'Michael Jackson'

In [9]:
#print the first element in the string
print(name[0])

M

In [10]:
#print the 6th  element in the string
print(name[6])

l

In [11]:
#print the 13th element in the string
print(name[13])

o

In [12]:
# We can also use negative referencing that begins from right to left
print(name[-6])

a

In [13]:
#print the first  element in the string
print(name[-15])

M

In [14]:
# Find the length of string

len("Michael Jackson")

15

In [15]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [16]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [18]:
#We can also combine sliced elements
name[0:4] + name[8:12]

'MichJack'

In [19]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]#This is called striding

'McalJcsn'

In [22]:
name[::3]

'Mhlas'

In [20]:
#We can also incooperate sliding and slicing
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [33]:
# Concatenate two strings

statement = name + " is the best"
statement

'Michael Jackson is the best'

In [34]:
# Print the string for 3 times

3 * " Michael Jackson"

' Michael Jackson Michael Jackson Michael Jackson'

In [35]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [36]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [37]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [38]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [39]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [40]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [42]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [43]:
# Find the substring in the string.

name.find('Jack')

8

In [44]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1